
h1{
  background-color: beige;
  font-family: fantasy;
}
 body {
  color: brown;
  font-family: fantasy;
  background-color: beige;
  display: inline;
}
img {
  height: 550px;
  width: 425px;
  background-color: beige;
}
#containerOne{
float:left;
padding: 50px 10px 10px 100px;
}
#containerTwo{
float:left;
padding: 100px 10px 10px 100px;
font-size: 1.5em;
}
